{% extends 'structure.html' %}
{% load static %}


{% block content %}
<main class="container-fluid">

    <section id="modify-page">

        <a class="arrow-begin" href="{% url 'env:user-flux' %}"> < < < </a>

        <h2 class="text-center my-4">Changer votre adresse e-mail !</h2>

        <form id="authenticate-form" method="post" class="mx-auto">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p class="mx-auto">
                <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }} :</label>
                {{ form.password}}
            </p>

            <div id="email-infos" class="alert alert-primary d-flex align-items-center justify-content-center mx-auto" role="alert">
                <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 text-primary"></i>
                <div>Modifiez</div>
            </div>

             <p class="mb-2 mx-auto">
                <label for="{{ form.new_mail1.id_for_label }}" class="form-label">{{ form.new_mail1.label }} :</label>
                {{ form.new_mail1 }}
            </p>

             <p class="mb-4 mx-auto">
                <label for="{{ form.new_mail2.id_for_label }}" class="form-label">{{ form.new_mail2.label }} :</label>
                {{ form.new_mail2 }}
            </p>

            <p class="p-submit">
                <input type="submit" value="Valider">
            </p>
        </form>

        {% include '_alerts.html' %}
    </section>
</main>
{% endblock %}
