{% extends 'structure.html' %}
{% load static %}

{% block content %}
<main class="container-fluid">

    <section id="modify-page">

        <a class="arrow-begin" href="{% url 'env:user-flux' %}"> < < < </a>

        <h2 class="text-center my-4">Changer votre mot de passe !</h2>

        <form id="authenticate-form" method="post" class="mx-auto">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p class="mx-auto">
                <label for="{{ form.old_password.id_for_label }}" class="form-label">{{ form.old_password.label }} :</label>
                {{ form.old_password }}
            </p>

            <div id="password-infos" class="alert alert-primary d-flex align-items-center justify-content-center mx-auto" role="alert">
                <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 text-primary"></i>
                <div>{{ form.fields.new_password1.help_text }}</div>
            </div>

            {% include '_alerts.html' %}

             <p class="mb-2 mx-auto">
                 <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }} :</label>
                 {{ form.new_password1 }}
            </p>

             <p class="mb-4 mx-auto">
                <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }} :</label>
                {{ form.new_password2 }}
            </p>

            <p class="p-submit">
                <input type="submit" value="Valider">
            </p>
        </form>

        {% include '_alerts.html' %}
    </section>
</main>
{% endblock %}

