{% extends 'structure.html' %}
{% load static %}

{% block nav_bar %}
<nav id="nav-start" class="navbar navbar-expand-lg bg-light py-3">
    <div class="container-fluid">
        <div class="nav-title col-md-6">
            <h1>Le monde des critiques</h1>
        </div>
        <div class="nav-dom col-md-6">
            <button type="button" class="btn-project btn btn-sm py-0 float-end" onclick="location.href='{% url 'auth:registration' %}'">Inscription</button>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<main class="container-fluid">
    <div id="start-page" class="py-4">
        <aside>
            <h2 class="my-4">Connectez-vous</h2>
            <form id="authenticate-form" method="post" class="mx-auto">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="p-submit">
                    <input type="submit" value="Valider">
                </p>
            </form>

            {% if messages %}
                {% for message in messages %}
                <div class="static-alert alert {% if message.tags %} alert-{{ message.tags }} {% endif %} d-flex align-items-center justify-content-center mx-auto mt-4 px-3 py-1" role="alert">
                    <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 text-{{ message.tags }}"></i>
                    <div>{{ message }}</div>
                </div>
                {% endfor %}
            {% endif %}

        </aside>
        <section>
            <figure class="me-5 pb-5">
                <img src="{% static 'img/books.png' %}" class="img-fluid" alt="Image d'un livre'">
            </figure>
            <figure>
                <img src="{% static 'img/newspapers.png' %}" class="img-fluid" alt="Image d'un journal">
            </figure>
            <figure>
                <img src="{% static 'img/web.png' %}" class="img-fluid" alt="Image du web">
            </figure>
        </section>
    </div>
</main>
{% endblock %}
