{% extends 'structure.html' %}

{% block nav_bar %}
<nav id="nav-start" class="navbar navbar-expand-lg bg-light py-3">
    <div class="container-fluid">
        <div class="nav-title col-md-6">
            <h1>Le monde des critiques</h1>
        </div>
        <div class="nav-dom col-md-6">
            <button type="button" class="btn-project btn btn-sm py-0 float-end" onclick="location.href='{% url 'auth:login' %}'">Connexion</button>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<main class="container-fluid">
    <section id="register-page">

        <h2 class="my-4">Inscription</h2>

        <form id="authenticate-form" method="post" class="mx-auto">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <p class="mb-2 mx-auto">
                <label for="{{ form.username.id_for_label }}" class="register-username-infos form-label">{{ form.username.label }} :</label>
                {{ form.username }}
            </p>

            <p class="mb-5 mx-auto">
                <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }} :</label>
                {{ form.email }}
            </p>

             <p class="mb-2 mx-auto">
                <label for="{{ form.password1.id_for_label }}" class="register-password-infos form-label">{{ form.password1.label }} :</label>
                {{ form.password1 }}
            </p>

             <p class="mb-4 mx-auto">
                <label for="{{ form.password2.id_for_label }}" class="form-label">{{ form.password2.label }} :</label>
                {{ form.password2 }}
            </p>

            <p class="p-submit mb-4 mx-auto">
                <input type="submit" value="Valider">
            </p>
        </form>

        {% include '_alerts.html' %}
    </section>
</main>
{% endblock %}
