{% extends 'user_index.html' %}
{% load static %}


{% block user_env %}
<div class="modal fade show" id="virtual-modal" tabindex="-1" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center flex-nowrap">
                <figure class="me-5 pb-2">
                    <img src="{% static 'img/books.png' %}" class="img-fluid" alt="Image d'un livre'">
                </figure>
                <figure>
                    <img src="{% static 'img/newspapers.png' %}" class="img-fluid" alt="Image d'un journal">
                </figure>
                <figure>
                    <img src="{% static 'img/web.png' %}" class="img-fluid" alt="Image du web">
                </figure>
            </div>
            <div class="modal-body">
                <p class="text-center">{{ text }} <strong>{{ name }}</strong></p>

                <hr class="hr-60 mx-auto my-3">

                <form method="post" class="d-flex justify-content-around flex-nowrap mb-3">
                    {% csrf_token %}
                    <button type="button" class="btn-project btn-projectLeft" onclick="location.href='{{return_url}}'">Annuler</button>
                    <button type="submit" class="btn-project btn-projectRight">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
