{% extends 'user_index.html' %}
{% load static %}


{% block user_env %}
<a class="arrow-begin" href="{% url 'env:user-flux' %}"> < < < </a>
<div class="w-50 mt-5 pt-3 px-5">
    <h2 class="text-center my-4">Changement de mot de passe</h2>

    <form method="post" class="text-start mx-auto">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <p class="w-50 mb-4 mx-auto">
            <label for="{{ form.old_password.id_for_label }}" class="form-label">{{ form.old_password.label }} :</label>
            {{ form.old_password }}
        </p>

        <div class="alert alert-primary d-flex align-items-center justify-content-center mx-auto my-5 py-1" role="alert">
            <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2 text-{{ message.tags }}"></i>
            <div>{{ form.fields.new_password1.help_text }}</div>
        </div>

         <p class="w-50 mb-2 mx-auto">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }} :</label>
            {{ form.new_password1 }}
        </p>

         <p class="w-50 mb-4 mx-auto">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }} :</label>
            {{ form.new_password2 }}
        </p>

        <p class="p-submit w-50 mb-4 mx-auto">
            <input type="submit" value="Valider">
        </p>
    </form>

    {% include '_alerts.html' %}
</div>
{% endblock %}
