{% extends 'structure.html' %}
{% load static %}

{% block nav_bar %}
<nav id="nav-user" class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container-fluid">
        <h3>Le monde de la critique</h3>
        <div class="mb-2 mb-lg-0">
            <div id="content-btn-nav-user" data-type="{{page_type}}">
                <button type="button" id="flux" class="btn-nav-user btn btn-sm btn-outline-success py-0" onclick="location.href='{% url 'env:user-flux' %}'">Flux</button>
                <button type="button" id="post" class="btn-nav-user btn btn-sm btn-outline-secondary py-0" onclick="location.href='{% url 'env:user-posts' %}'">Posts</button>
                <button type="button" id="follow" class="btn-nav-user btn btn-sm btn-outline-secondary py-0" onclick="location.href='{% url 'env:user-follows' %}'">Follows</button>
            </div>
        </div>
        <div>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li id="li-nav-btnChoice" class="nav-item d-flex align-items-center">
                    <button type="button" class="btn-project btn btn-sm py-0" onclick="location.href='{% url 'auth:login' %}'">Déconnexion</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
{% if request.user.is_authenticated %}
<button type="button" id="user-parameter">
    <span class="user-name"><i class="bi bi-gear pe-3"></i><strong>{{ request.user.username }}</strong></span>
</button>
{% endif %}

<main class="container-fluid">
    <div id="user-index" class="d-flex flex-wrap justify-content-center align-items-start w-100">
        {% block user_env %}{% endblock %}
    </div>
</main>
{% endblock %}
