

body{ background-color: rgba(245, 203, 142, 0.5); }

.navbar.navbar-expand-lg { border-bottom: solid 0.06em brown; }

h1, h2, h3, th {
    margin: 0;
    padding: 0;
    font-family: 'charm', helvetica , sans-serif;
    white-space: nowrap;
}

h1 { font-size: 2.8em; }

h2 { font-size: 2.5em; }

h3 { font-size: 2em; }

th { font-size: 1.6em; }

button, input[type="submit"] {
    display: inline-block;
        justify-content: center;
        align-items: center;

    padding: 0 1.4em 0.2em 1.4em;

    background-color: #ffffff;
    border: solid 0.06em transparent;
    border-radius: 3px;

    white-space: nowrap;
    box-shadow: 1px 2px 4px rgba(145, 142, 142, 0.854);
}

p {
    padding: 1vh;
    overflow: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
}

form > h5 {
    margin-bottom: 0.8em;
    margin-left: 1.5em;
    font: normal 1.7em 'charm', helvetica , sans-serif;
}
form > p {
    margin-bottom: 1.5em;
    padding: 0;
}
form > figure {
    display: flex;
        justify-content: center;
        align-items: center;
    width: 40%;
    margin: 1em 0.2em;
}
form > figure img {
    max-width: 100%;
    max-height: 100%;
}



/*___ TYPE DE BOUTON */
.btn-project {
    border-color: crimson;
    color: crimson;
}
.btn-project:hover {
    color: green;
    border-color: green;
    cursor: pointer;
}

.btn-projectLeft{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    margin-right: 0.5em;
}
.btn-projectRight{
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 0.5em;
}


/*___ TYPE DE LIGNE */
hr.hr-60{ width: 60%; margin: 0;}


/*___ FORMULAIRE D'AUTHENTIFICATION */
#authenticate-form {
    display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;

    padding: 1em 0;
    background-color: rgba(245, 203, 142, 0.3);
    border: solid 0.06em transparent;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(145, 142, 142, 0.854);
}

/*___ PAGE DE DEMARRAGE */
#start-page {
    display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    width: 100%;
}

#start-page > aside {
    flex: 0 0 30%;
    display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
}
#start-page > aside > form {
    width: 80%;
    min-height: 23vh;
}
#start-page > aside > form > p { width: 80%; }

#start-page > section {
    flex: 0 0 40%;
    display: flex;
        justify-content: center;
        align-items: flex-end;
    height: 75vh;
}
#start-page > section > figure {
    display: flex;
        justify-content: center;
        align-items: center;

    width: calc(100% / 4);
}
#start-page > section > figure > img {
    max-width: 100%;

}



/*___ PAGE D'INSCRIPTION' */
#register-page {
    display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;

    width: 100%;

    margin-top: 6vh;
    margin-bottom: 11vh;
}
#register-page > form { width: 60%;}
#register-page > form > p { width: 40%; }

.register-username-infos, .register-password-infos {
    pointer-events: none;

}
.register-username-infos::after, .register-password-infos::after {
    font-family: 'bootstrap-icons';
    content: '\F4BE';
    margin-left: 1.4em;
    pointer-events: auto;
}


.p-submit {
    display: flex;
        justify-content: flex-end;
}
.p-submit > input[type="submit"] { text-align: right }



/*___ MODAL */
#virtual-modal > .modal-dialog > .modal-content {
    border-radius: 5px;
    box-shadow: 2px 3px 6px rgba(145, 142, 142, 0.854);
}

.modal-header { height: 10vh; }
.modal-header > figure {
    display: flex;
        justify-content: center;
        align-items: center;
    width: calc(100% / 12);
    padding: 0;
    margin: 0;

}
.modal-header > figure > img { max-width: 100%; }
