

body{ background-color: rgba(245, 203, 142, 0.5); }

.navbar.navbar-expand-lg {
    padding-left: 1em;
    padding-right: 1em;
    border-bottom: solid 0.06em brown;
}
.navbar.navbar-expand-lg .nav-dom { padding-right: 6em;}

h1, h2, h3, th {
    margin: 0;
    padding: 0;
    font-family: 'charm', helvetica , sans-serif;
    white-space: nowrap;
}

h1 { font-size: 2.8em; }

h2 { font-size: 2.5em; }

h3 { font-size: 2em; }

th { font-size: 1.6em; }

button, input[type="submit"] {
    display: inline-block;
        justify-content: center;
        align-items: center;

    min-width: 6vw;

    background-color: #ffffff;
    border: solid 0.06em transparent;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(145, 142, 142, 0.854);

    white-space: nowrap;
}

p {
    padding: 1vh;
    overflow: hidden;
    overflow-y: auto;
    overflow-wrap: break-word;
}

form > h5 {
    margin-bottom: 0.8em;
    margin-left: 1.5em;
    font: normal 1.7em 'charm', helvetica , sans-serif;
}
form > p {
    margin-bottom: 1.5em;
    padding: 0;
}
form > figure {
    display: flex;
        justify-content: center;
        align-items: center;
    width: 40%;
    margin: 1em 0.2em;
}
form > figure img {
    max-width: 100%;
    max-height: 100%;
}



/*___ TYPE DE BOUTON */
.btn-project {
    border-color: crimson;
    color: crimson;
}
.btn-project:hover {
    color: green;
    border-color: green;
    cursor: pointer;
}

.btn-projectLeft {
    min-width: 9vw;
    margin-right: 0.5em;
    padding-left: 3em;
    padding-right: 1.5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn-projectRight {
    min-width: 9vw;
    margin-left: 0.5em;
    padding-left: 1.5em;
    padding-right: 3em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*___ TYPE DE LIGNE */
hr.hr-60 { width: 60%; margin: 0;}


/*___ FORMULAIRE D'AUTHENTIFICATION */
#authenticate-form {
    display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;

    padding: 1em 0;
    background-color: rgba(245, 203, 142, 0.3);
    border: solid 0.06em transparent;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(145, 142, 142, 0.854);
}

/*___ PAGE DE DEMARRAGE */
#start-page {
    display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    width: 100%;
}

#start-page > aside {
    flex: 0 0 30%;
    display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
}
#start-page > aside > form {
    width: 80%;
    min-height: 23vh;
}
#start-page > aside > form > p { width: 80%; }
#start-page > aside > .static-alert { width: 75%;}

#start-page > section {
    flex: 0 0 40%;
    display: flex;
        justify-content: center;
        align-items: flex-end;
    height: 75vh;
}
#start-page > section > figure {
    display: flex;
        justify-content: center;
        align-items: center;

    width: calc(100% / 4);
}
#start-page > section > figure > img {
    max-width: 100%;

}


/*___ PAGE D'INSCRIPTION' */
#register-page {
    display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;

    width: 100%;

    margin-top: 6vh;
    margin-bottom: 11vh;
}
#register-page > form { width: 50%;}
#register-page > form > p { width: 50%; }
#register-page > form > .register-help { width: 75%; }

.register-username-infos, .register-password-infos {
    pointer-events: none;

}
.register-username-infos::after, .register-password-infos::after {
    font-family: 'bootstrap-icons';
    content: '\F4BE';
    margin-left: 1.4em;
    pointer-events: auto;
}


/*___ PAGES DE MODIFICATION */
#modify-page {
    display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;

    width: 100%;

    margin-top: 6vh;
    margin-bottom: 11vh;
}
#modify-page > form { width: 40%;}
#modify-page > form > p { width: 60%; }

#modify-page > form > #password-infos {
    width: 90%;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 0.8em;
}
#modify-page > form > #email-infos {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
 }


/*__ Soumission des formulaires */
.p-submit {
    display: flex;
        justify-content: flex-end;
        align-items: center;
    margin-bottom: 0.2em;
}
.p-submit > input[type="submit"] {
    width: 10vw;
    text-align: right
}



/*___ MODAL */
#virtual-modal > .modal-dialog > .modal-content {
    background-color: unset;
    border: unset;
}
.modal-body > p {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1.2em;
}
.modal-header {
    height: 10vh;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 3px 6px rgba(145, 142, 142, 0.854);
}
.modal-header > figure {
    display: flex;
        justify-content: center;
        align-items: center;
    width: calc(100% / 12);
    padding: 0;
    margin: 0;

}
.modal-header > figure > img { max-width: 100%; }
