
@media screen and (max-width:1024px) {

    .navbar.navbar-expand-lg {
        padding-left: 0em;
        padding-right: 0em;
    }
    .navbar.navbar-expand-lg .nav-dom { padding-right: 3em; }

    #start-page > aside { flex: 0 0 40%; }

    #register-page > form { width: 60%;}
    #register-page > form > p { width: 60%; }

    .p-submit > input[type="submit"] { width: 12vw; }


    /*___ CONNECTED */
    #nav-user .btn-nav-user {
        width: 10vw;
        margin-right: 0.5em;
    }

    .arrow-begin { top: 12%; }

    #virtual-modal > .modal-dialog > .modal-content { width: 90%; }
    .modal-body > p { font-size: 1.1em; }
    .modal-header { height: 9vh; }
    .btn-projectLeft{
        min-width: 17vw;
        padding-left: 2em;
        padding-right: 1em;
    }
    .btn-projectRight{
        min-width: 17vw;
        padding-left: 1em;
        padding-right: 2em;
     }

    #modify-page > form { width: 60%; }
    #modify-page > form > p { width: 60%; }
    #modify-page > a { top: 7%; }

    #nav-create .btn-user { width: 25vw;}

    #sect-viewScroll, #sect-viewScrollFollow, #nav-create, .hidden-div { width: 70%; }

    #sect-create {
        width: 55%;
        margin-top: 9%;
    }

    #user-parameter {
        width: 14%;
        left: 1vw;
    }
    #content-parameter { left: 1vw; }
}



@media screen and (max-width:768px) {

    .navbar.navbar-expand-lg .nav-dom { padding-right: 1.5em; }

    h3 { font-size: 1.8em; }
    button { white-space: unset; }

    #start-page > aside { flex: 0 0 50%; }

    #register-page > form { width: 70%; }
    #register-page > form > p { width: 70%; }

    .p-submit > input[type="submit"] { width: 15vw; }


    /*___ CONNECTED */
    #nav-user h3 { font-size: 1.5em; }
    #nav-user .btn-nav-user { width: 12vw;}
    .arrow-begin { top: 18%; }

    #modify-page > form { width: 80%; }

    #sect-viewScroll, #sect-viewScrollFollow, #nav-create, .hidden-div { width: 90%; }

    #sect-create {
        width: 70%;
        margin-top: 12%;
    }

    #user-parameter {
        top: 7.5vh;
        width: 18%;
        font-size: 0.8em;
    }
    #content-parameter {
        display: inline-block;
        top: 7vh;
        left: 20vw;
        height: inherit;
    }
    #content-parameter > button {
        margin-left: 2em;
        font-size: 0.8em;
    }
}


@media screen and (max-width:426px) {

    .navbar.navbar-expand-lg .nav-dom { padding-right: 0; }

    #nav-start .nav-title {
        display: flex;
            justify-content: center;
            align-items: center;
        width: 100%;
    }
    #nav-start .nav-title > h1 { font-size: 2em; }
    #nav-start .nav-dom {
        width: 100%;
        padding-top: 1.2em;
    }

    #start-page {
        display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: flex-start;
        width: 100%;
    }
    #start-page > aside { flex: 0 0 100%; width: 100%; }
    #start-page > aside > form { width: 80%; }
    #start-page > aside > form > p { width: 95%; }
    #start-page > section {
        flex: 0 0 100%;
        margin-top: 3em;
    }

    #register-page > form { width: 100%; }
    #register-page > form > p { width: 95%; }
    #register-page > form > .register-help { width: 95%; font-size: 0.8em;}

    .p-submit > input[type="submit"] { width: 30vw; }

    /*___ CONNECTED */
    .modal-body > p {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
        font-size: 1em;
    }
    .arrow-begin { top: 20%; left: 0.5%; font-size: 0.8em; }

    #nav-user #content-btn-nav-user {
        display: flex;
            justify-content: space-between;
            align-items: center;
        width: 100%;
        margin: 1em 0.5em 0.5em 0.5em;
    }
    #nav-user .btn-nav-user { width: 30vw; }

    #modify-page > form { width: 100%; }
    #modify-page > .arrow-begin { top: 3%; }
    #modify-page > h2 { font-size: 1.8em; }

    #sect-viewScroll {
        width: 100%;
        padding: 2%;
    }
    #nav-create {
        width: 100%;
        height: 28vh;
        margin-top: 12vh;
        padding-left: 0.7em;
        padding-right: 0.7em;
    }
    #nav-create .btn-user { width: 80vw;}
    .hidden-div {
        width: 100%;
        height: 28vh;
        margin-top: 12vh;
    }

    .sect-viewReview-first, article > header {
        display: flex;
            flex-flow: column wrap;
            align-items: flex-start;
    }
    .sect-viewReview span, .sect-viewReview time, .sect-viewReview p {

        font-size: 0.8em;
    }
    article span, article time, article p {

        font-size: 0.8em;
    }
    article > figure {
        width: 100%;
        margin-left: 0;
    }
    article > figure img {
        max-width: 100%;
        max-height: 100%;
    }
    article > footer, .sect-viewReview > footer {
        justify-content: space-around;
        margin-bottom: 2%;
    }

    #sect-viewScrollFollow{
        width: 100%;
        margin-top: 18vh;
    }
    #follow_searching > h3 { font-size: 1.4em; }

    #sect-create {
        width: 95%;
         margin-top: 18vh;
    }
    #sect-create > form input[type="file"] { width: 70%; }
    #sect-create > form .rating { margin-right: 0.5em; }

    #user-parameter {
        top: 14.5vh;
        width: 28vw;
        font-size: 0.8em;
    }
    #content-parameter {
        top: 14vh;
        left: 30vw;
    }
    #content-parameter > button {
        padding: 0.1em 0.3em;
        margin-left: 0.2em;
    }
}


@media screen and (max-width:320px) {

    .navbar.navbar-expand-lg .nav-dom { padding: 0; }
    .navbar.navbar-expand-lg .nav-dom > button { font-size: 0.8em; padding: 0.2em; }

    #nav-start .nav-dom { width: inherit; }

    /*___ CONNECTED */
    #nav-create, .hidden-div { height: 32vh; }
}
