{% load template_filters %}
{% load static %}

<section class="sect-viewReview">
    <header>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span>
                    {% if user.pk != post.user.pk %}
                    <strong class="text-capitalize ">{{ post.user.username }}</strong> a
                    {% else %}
                    <strong>Vous</strong> avez
                    {% endif %}
                    publié une critique
                </span>
            </div>
            <div>
                <time>Le {{ post.time_created }}</time>
            </div>
        </div>

        <h5 class="text-capitalize my-3">{{ post.title_review }}</h5>

        <div class="d-inline-flex">
        {% for i in 5|range_filter %}

            {% if i < post.rating %}
                <i class="bi bi-star-fill"></i>
            {% else %}
                <i class="bi bi-star"></i>
            {% endif %}

            {% endfor %}
        </div>

        {% if post.details %}
        <p class="mx-auto">{{ post.details }}</p>
        {% endif %}
    </header>

    <article>
        <header>
            <div>
                <span>Ticket - <strong class="text-capitalize">{{ post.ticket.user.username }}</strong></span>
            </div>
        </header>

        <h5 class="text-capitalize">{{ post.ticket.title }}</h5>

        {% if post.ticket.description %}
        <p class="mx-auto">{{ post.ticket.description }}</p>
        {% endif %}

        {% if post.ticket.image %}
        <figure>
            <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title }}">
        </figure>
        {% endif %}

        {% if user.pk != post.user.pk and not post.reviews_response and page_type == 'flux' %}
            <footer class="row justify-content-end">
                <button type="button" class="btn-createResponse col-md-3" onclick="location.href='{% url 'env:crt-rsp-review' post.ticket.pk %}'">Créer une critique</button>
            </footer>
        {% endif %}

        </article>

        {% if user.pk == post.user.pk and page_type == 'post'%}
            <footer class="row justify-content-end">
                <button type="button" class="col-md-3 me-5" onclick="location.href='{% url 'env:upd-review' post.pk %}'">Modifier</button>
                <button type="button" class="col-md-3" onclick="location.href='{% url 'env:del-review' post.pk %}'">Supprimer</button>
            </footer>
        {% endif %}
</section>
