{% load static %}

<article class="art-ticket">
    <header>
        <div>
            <span class=""><strong>{{ post.user.username }}</strong> a demandé une critique</span>
        </div>
        <div>
            <time class="">Le {{ post.time_created }}</time>
        </div>
    </header>

    <h5>{{ post.title }}</h5>

    {% if post.ticket.description %}
    <p class="mx-auto">{{ post.ticket.description }}</p>
    {% endif %}

    {% if post.image %}
    <figure>
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </figure>
    {% endif %}

    {% if user.pk != post.user.pk and page_type == 'flux' %}
    <footer class="row justify-content-end">
        <button type="button" class="col-md-3 btn-user" onclick="location.href='{% url 'env:crt-rsp-review' post.pk %}'">Créer une critique</button>
    </footer>
    {% elif page_type == 'post'%}
    <footer class="row justify-content-end">
        <button type="button" class="col-md-3 btn-user me-5" onclick="location.href='{% url 'env:upd-ticket' post.pk %}'">Modifier</button>
        <button type="button" class="col-md-3 btn-user" onclick="location.href='{% url 'env:del-ticket' post.pk %}'">Supprimer</button>
    </footer>
    {% endif %}
</article>

