{% load static %}

<article>
    <header>
        <div>
            <span>
                {% if user.pk != post.user.pk %}
                <strong class="text-capitalize ">{{ post.user.username }}</strong> a
                {% else %}
                <strong>Vous</strong> avez
                {% endif %}
                demandé une critique
            </span>
        </div>
        <div>
            <time>Le {{ post.time_created }}</time>
        </div>
    </header>

    <h5 class="text-capitalize">{{ post.title }}</h5>

    {% if post.description %}
    <p class="mx-auto">{{ post.description }}</p>
    {% endif %}

    {% if post.image %}
    <figure>
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </figure>
    {% endif %}

    <footer class="row justify-content-end">
    {% if user.pk != post.user.pk and not post.reviews_response and page_type == 'flux' %}
        <button type="button" class="btn-createResponse col-md-3" onclick="location.href='{% url 'env:crt-rsp-review' post.pk %}'">Créer une critique</button>
    {% elif page_type == 'post'%}
        <button type="button" class="col-md-3 me-5" onclick="location.href='{% url 'env:upd-ticket' post.pk %}'">Modifier</button>
        <button type="button" class="col-md-3" onclick="location.href='{% url 'env:del-ticket' post.pk %}'">Supprimer</button>
    {% endif %}
    </footer>
</article>

